body {
 margin:0;
 font-family: Arial,sans-serif;
}

.header{
    background: white;
    padding:20px 0;
}

.header .inner{
  display:flex;
  justify-content:space-between;
  align-items: center;
}

.nav a {
    margin-left: 20px;
    text-decoration:none;
    color:#333;
    font-weight:bold;
    transition:0.3s;
    display: inline-block;
    padding:5px 10px;
}

.header .nav a:hover{
    color:blue;
}

.about{
  background: white;
  text-align: center;
}

.about h2{
    font-size: 32px;
    margin-bottom:30px;
}

.about p{
    max-width:600px;
    margin:0 auto;
    line-height:1.8;
}

.inner{
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;
}

.hero{
    background:#333;
    color:white;
    padding:180px 0;
    text-align:center;
}

.hero h2{
    font-size:40px;
    margin-bottom:20px;
}

.hero p {
    font-size:18px
}

.btn{
    display:inline-block;
    margin-top:20px;
    padding:10px 20px;
    background:blue;
    color:white;
    text-decoration:none;
    border-radius:5px;
    font-weight:bold;
    transition:0.3s;
}

.btn:hover{
    background:#003cff;
    transform:translateY(-3px);
}

.services .inner{
    display: flex;
    justify-content: space-between;
}

.service-box{
    width:30%;
    background:#f4f4f4;
    padding:40px 20px;
    text-align:center;
    border-radius:8px;
    font-weight:bold;
    transition: 0.3s;
    box-shadow:0 5px 15px rgba(0,0,0,0.1);
}

.service-box:hover{
    transform:translateY(-10px);
}

.services{
    padding:100px 0;
    background:#f9f9f9;
}

.services h2{
    text-align: center;
    font-size: 32px;
    margin-bottom:50px;
}

.service-box:hover{
    transform:translateY(-10px)
}

section{
    padding:100px 0;
}

.contact{
    text-align: center;
    padding: 80px 20px;
    background-color: #f4f4f4;
}

.contact h2{
    margin-bottom:20px;
}

@media (max-width: 768px){

  .services .inner{
      flex-direction: column;
  }

  .service-box{
      width:100%;
      background: white;
      padding:40px 20px;
      text-align: center;
      border-radius:12px;
      font-weight:bold;
      transition:0.3s;
      box-shadow: 0 10px 25px rgba(0,0,0,0.08);
  }

  .header .inner{
    flex-direction: column;
  }

  .nav{
    margin-top:15px;
  }
}
